@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');


.topnav {font-family: "Open-Sans",sans-serif;  display: flex;}
.nav-list{ margin-right: 1.5rem;padding: 1rem 0rem 1rem 0rem;display: inline;font-weight: 500;
  font-family: "Google Sans",Arial,Helvetica,sans-serif;font-size: 16px;letter-spacing: .25px;color: #5f6368;}
.nav-components{margin-left: 28px; margin-top: 15px;}
.blue{color: #4285f4;}
.red{color: #ea4335;}
.green{color: #34a853;}
.yellow{color: #f9ab00;}
.body{margin: 0px; padding: 0px;}
.active{ border-bottom: 2px solid blue;  color: black}
.google-icon-nav{margin:15px 12px 15px 11px;;  display: block;height: 29px;width: 75px; background-repeat: no-repeat ; background-image: url(./images/google-icon-navbar.png);}
.centeral-body-image{ display: grid;justify-content: center; margin-top: 3.5rem }
.centeral-container{background-size: cover;background-repeat: no-repeat;background-position: center;height: 38rem;
    width: 67rem;border: none;border-radius: 10px;background-image: url(./images/google-body-image.jpg);}
.info-container{ margin-bottom: 5rem; word-spacing: 3px;font-family: "Open-Sans",sans-serif; font-size: 28px;text-align: center; line-height: 36px;}
.body-caption{ line-height: 32px;margin-top: 2rem; word-spacing: 3px;font-size: 28px;text-align: center; font-family: "Open-Sans",sans-serif;}
.blue-tag{font-family: "Open-Sans",sans-serif; font-size: 15px;font-weight: 600; color: blue; text-align: center; margin-top: 1rem; } 
.post-card-1{display: grid;justify-content: center; cursor: pointer;}
.post-card-1:hover{
  border: 2px solid #1a73e8;
  border-radius: 10px;
}
.heading-container{line-height: 67px;margin-top: 9rem;font-family: "Open-Sans",sans-serif; font-size: 67px;
    text-align: center;}
.post-card-2{ display: grid;justify-content: center; margin-top: 6rem; cursor: pointer;}
.post-card-2:hover{border: 2px solid #1a73e8;border-radius: 10px;}
.product-btn{gap: 2rem; display: flex; font-family: "Open-Sans",sans-serif; justify-content: center; margin-top: 3rem; cursor: pointer;}
.blue-btn{font-family: "Open-Sans",sans-serif; cursor: pointer; border: none; padding: 15px 25px 15px 25px;background-color: #185abc;color: white;font-size: 16px;border-radius: 5px;}
.white-btn{ cursor: pointer; padding: 10px 20px 10px 20px;font-size: 16px;color: #185abc; font-weight: 500; border-radius: 5px; border: 1px solid grey;}
.animated-book-image{background-size: cover;background-repeat: no-repeat;background-position: center;height: 33rem;
 ;width: 67rem;border: none;border-radius: 10px;background-image: url(./images/animated-book.jpg); margin-top: 6rem; margin-bottom: 3rem;}
.adjust-btn{text-align: center; margin-top: 3rem; cursor: pointer;}
.image-container{display: flex; gap: 4rem; margin-top: 7rem;}
.photo-container{ background-repeat: no-repeat; background-size: cover;    
     height: 16rem;    width: 25rem; background-position: center; border-radius: 5px;} 
.image-1{background-image: url('./images/image-1.jpg');}
.image-3{background-image: url('./images/image-3.jpg');}
.image-2{background-image: url('./images/image-2.jpg'); height: 25rem; width: 25rem;}
.image-alignment{justify-content: center;}
.image-4{background-image: url('./images/image-4.jpg'); width: 37rem;height: 24rem;}
.image-5{background-image: url('./images/image-5.jpg'); width: 37rem;height: 24rem;}
.image-6{background-image: url('./images/image-6.jpg'); height: 10rem; width: 17rem;}
.image-7{background-image: url('./images/image-7.jpg'); height: 12rem; width: 18rem;}
.image-8{background-image: url('./images/image-8.jpg'); height: 12rem; width: 18rem;}
.image-9{background-image: url('./images/image-9.jpg'); height: 12rem; width: 18rem;}
.image-card{ display: grid; justify-content: center;}
.upper-footer{padding-bottom: 3rem; width: 1170px;margin-top: 3rem;display: flex;justify-content: space-between;  
       border-bottom: 1px solid #dadce0;}
.footer{margin-top: 8rem; background-color: #f8f9fa; display: grid; justify-content: center;}
.left-social-icons{ display: flex; gap: 2rem; float: left;}
.follow-us{font-family: "Open-Sans",sans-serif; font-size: 16x; color: rgb(14, 14, 14);}
.icon-decoration{outline: none;  text-decoration: none; color: black; font-size: 24px;}
.right-social-icons{ float: right; gap: 2rem; display: flex;}
.middle-footer{ display: flex; margin-top: 3rem; font-family: "Open-Sans",sans-serif;
justify-content: space-between; padding-bottom: 2rem; border-bottom: 1px solid #dadce0; }
.foot-head{padding-bottom: 2rem;}
.about-list{list-style: none; color: grey; font-weight: 500; padding-bottom: 1rem;}
.lower-footer{display: flex; gap: 2rem; font-family: "Open-Sans",sans-serif; padding-top: 2rem; }
.google-footer{ font-family: "Open-Sans",sans-serif; font-size: 20px; color: grey; }
.product-heading{
  /* float: left; */
  display: flex;
  justify-content: space-between;
  gap: 30rem;
  align-items: center;
}
.product-head{font-family: "Open-Sans",sans-serif;
font-weight: 500;font-size: 112px;}
.product-image{background-size: cover; background-image: url(./images/product-image.jpg); background-repeat: no-repeat; background-position: center;
  height: 198px;width: 275px;}
.product-card{display: inline-flex;border-radius: 5px;margin-top: 10rem;align-content: center;flex-wrap: wrap;
  flex-direction: column; border: 1px solid grey;}
.product-card:hover{ transition-duration: 150ms; box-shadow: 0 5px 20px 5px #00000044;}
.product-caption{font-family: "Open-Sans",sans-serif;font-weight: 500;font-size: 22px;padding-bottom: 1rem; text-align: center; padding-top: 1rem;}
.center-body{display: grid; justify-content: center; justify-items: center;}